*{margin: 0;padding: 0}
.head{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #1ABEBF;
}
.container{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.title{
    font-size: 30px;
}
.title-time{
    margin-top: 10px;

}
.big-img{
    margin-top: 20px;
    width: 720px;
}
.table{
    height: 420px;
    width: 720px;
    text-align: center;
    border-collapse: collapse;
}
thead{
    font-size: 21px;
    color: white;
    line-height: 62px;
    background-color: #FF8201;
}
.content{
    width: 500px;
}